.about {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: Gray;
}

.truSoChinh {
  width: 800px;
  float: left;
  margin-left: 50px;
}

.chiNhanh {
  width: 600px;
  float: left;
}
.big{
  font-family: "Times New Roman";
	color: blue;
}
