<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Company</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
			
	<div class="collapse navbar-collapse navbar-ex1-collapse">
	      <ul class="nav navbar-nav">
	        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
	          <a [routerLink]="['/index']">Trang chủ</a>
	        </li>
	        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
	          <a [routerLink]="['/staff']">Quản lí nhân viên</a>
	        </li>
	        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
	          <a [routerLink]="['/config']">Cấu hình hệ thống</a>
	        </li>
	        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
	          <a [routerLink]="['/notification']">Thông báo</a>
	        </li>
	        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
	          <a [routerLink]="['/project']">Quản lí dự án</a>
	        </li>
	        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
	          <a [routerLink]="['/salary']">Lương</a>
	        </li>
	        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
	          <a [routerLink]="['/timesheet']">Quản lí chấm công</a>
	        </li>
	      </ul>
    </div>

	</div>
</nav>

<!-- FOOTER -->
<<head>
  <meta charset="utf-8">
  <title></title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<footer class="about">
  <div class="truSoChinh">
    <h1 class="big">Trụ sở chính</h1>
    <address>
    <i class="	glyphicon glyphicon-user"></i>
      Tầng 3, Tòa nhà 3A, Ngõ 82 Duy Tân, Cầu Giấy, Hà Nội<br>
      <i class="glyphicon glyphicon-phone-alt"></i>
      +84.904.29.05.83
      <br>
      <i class="glyphicon glyphicon-envelope"></i>
      cuongdc@itsol.vn<br>
      <i class="glyphicon glyphicon-home"></i>
      <a href="http://itsol.vn/" style="color: blue"> http://itsol.vn</a>
    </address>
  </div>
  <div class="chiNhanh">
    <h1 class="big">Chi nhánh</h1>
    <p>Đà Nẵng</p>
    <address>
    <i class="glyphicon glyphicon-phone-alt"></i>
      + 84.96.719.5555
    </address>
    <p>Hồ Chí Minh</p>
    <address>
    <i class="glyphicon glyphicon-phone-alt"></i>
      + 84.901.429.661
    </address>
  </div>
</footer>



