<div>
  <h2>Thông báo mới nhất</h2>
  <a>Lịch nghỉ lễ quốc khánh 2/9<img src="./../../../assets/hinh/new_32x32.png" 
         alt=""></a>
  <br>
  <a href="">Lịch công tác tháng 8 <img src="./../../../assets/hinh/new_32x32.png" 
         alt=""></a>
</div>
<div>
  <h2>Thông báo</h2>
  <a>Lịch nghỉ 30/4-1/5</a>
  <br>
  <a>Lịch công tác tháng 5</a>
</div>

<p>
    Úc (còn được gọi Australia hay Úc Đại Lợi; phát âm tiếng Việt: Ô-xtrây-li-a[12], phát âm tiếng Anh: /əˈstreɪljə,_ɒʔ,_ʔiə/,[13][14]) tên chính thức là Thịnh vượng chung Úc (tiếng Anh: Commonwealth of Australia,[15]) là một quốc gia bao gồm đại lục châu Úc, đảo Tasmania, và nhiều đảo nhỏ. Đây là quốc gia lớn thứ sáu về diện tích trên thế giới. Các quốc gia lân cận của Úc gồm có Indonesia, Đông Timor và Papua New Guinea ở phía bắc; Quần đảo Solomon, Vanuatu, và Nouvelle-Calédonie thuộc Pháp ở phía đông-bắc; và New Zealand ở phía đông-nam.

    Người Úc bản địa sinh sống tại Úc[16] ít nhất là 40.000 năm[17] trước khi người Anh Quốc định cư lần đầu vào thế kỷ XVIII,[18][19] Người Úc bản địa nói nhiều ngôn ngữ, các ngôn ngữ này được nhóm lại thành khoảng 250 nhóm ngôn ngữ.[20][21] Các nhà thám hiểm người Hà Lan khám phá ra lục địa vào năm 1606, sau đó Anh Quốc tuyên bố chủ quyền đối với nửa phía đông của Úc vào năm 1770 và ban đầu tiến hành thuộc địa hóa bằng cách đày các tội phạm đến thuộc địa New South Wales từ ngày 26 tháng 1 năm 1788. Dân số tăng đều đặn trong các thập kỷ tiếp theo và người châu Âu dần trở thành đa số so người bản địa. Lục địa được thám hiểm và có thêm năm thuộc địa vương thất được thành lập.
    
    Ngày 1 tháng 1 năm 1901, sáu thuộc địa liên hiệp, hình thành Thịnh vượng chung Úc. Từ khi thành lập Liên bang, Úc duy trì một hệ thống chính trị dân chủ tự do ổn định. Liên bang gồm có sáu bang và một số lãnh thổ. Dân số Úc là 23,1 triệu,[7] có mức đô thị hóa cao, tập trung cao tại các bang đông bộ.[22]
    
    Úc có một lãnh thổ rộng lớn và giàu tài nguyên thiên nhiên, tuy nhiên dân số khá ít nên mật độ dân số rất thấp. Úc là một quốc gia có nền kinh tế phát triển nhất trên thế giới, với nền kinh tế lớn thứ 12 thế giới. Năm 2012, Úc có GDP bình quân đầu người cao thứ năm trên thế giới.[23] Chi tiêu quân sự của Úc đứng thứ 13 thế giới. Úc có chỉ số phát triển con người cao, duy trì trong top 10 toàn cầu, xếp thứ hạng cao trong nhiều so sánh quốc tế, như chất lượng sinh hoạt, y tế, giáo dục, tự do kinh tế, và bảo vệ các quyền tự do dân sự và chính trị.[24] Úc là một thành viên của Liên Hiệp Quốc, G20, Thịnh vượng chung các quốc gia, ANZUS, Tổ chức Hợp tác và Phát triển Kinh tế (OECD), Tổ chức Thương mại Thế giới, Diễn đàn Hợp tác Kinh tế châu Á - Thái Bình Dương, và Diễn đàn các đảo Thái Bình Dương.
</p>
