<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<header>
		<app-header></app-header>
	</header><!-- /header -->
	
	<article>
		<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Inform</h3>
		</div>
		<div class="panel-body">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
	</article>
	<footer>
		<app-footer></app-footer>
	</footer>
</body>
</html>








