<footer class="about">
  <div class="truSoChinh">
    <h1 class="big">Trụ sở chính</h1>
    <address>
    <i class="	glyphicon glyphicon-user"></i>
      Tầng 3, Tòa nhà 3A, Ngõ 82 Duy Tân, Cầu Giấy, Hà Nội<br>
      <i class="glyphicon glyphicon-phone-alt"></i>
      +84.904.29.05.83
      <br>
      <i class="glyphicon glyphicon-envelope"></i>
      cuongdc@itsol.vn<br>
      <i class="glyphicon glyphicon-home"></i>
      <a href="http://itsol.vn/" style="color: blue"> http://itsol.vn</a>
    </address>
  </div>
  <div class="chiNhanh">
    <h1 class="big">Chi nhánh</h1>
    <p>Đà Nẵng</p>
    <address>
    <i class="glyphicon glyphicon-phone-alt"></i>
      + 84.96.719.5555
    </address>
    <p>Hồ Chí Minh</p>
    <address>
    <i class="glyphicon glyphicon-phone-alt"></i>
      + 84.901.429.661
    </address>
  </div>
</footer>
